.checklist-task {
    display: flex;
    border: 2px solid transparent;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 5px;
}

.checklist-task:hover {
    background: lightblue;
    border: 2px solid lightgray;
}

.checklist-task .title {
    flex-grow: 1;
}

