.selected-checklist-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.selected-checklist-details.none-selected {
    justify-content: center;
    text-align: center;
}

.selected-checklist-details .checklist-tasks-list {
    flex-grow: 1;
    overflow: auto;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.selected-checklist-details > button {
    margin-bottom: 10px;
}

.selected-checklist-details .add-step-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}