.app .app-container {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
    max-width: 75%;
    margin: auto;
    padding: 10px 20px;
    min-height: 500px;
    max-height: 500px;
}

.app .app-container .checklist-list-container {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
}

.app .app-container .checklist-details-container {
    flex-grow: 1;
}

