.checklist-list-element {
    display: flex;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
    cursor: pointer;
}

.checklist-list-element:hover {
    border: 2px solid black;
}

.checklist-list-element.selected {
    background: lightgray;
    border: 2px solid gray;
}